<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Initializr</title>
    <link rel="stylesheet" href="{{#linkTo}}/css/bulma.css{{/linkTo}}"/>
    <link rel="stylesheet" href="{{#linkTo}}/css/spring.css{{/linkTo}}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    {{#trackingCode}}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZM7GF6');</script>
    {{/trackingCode}}
    <script defer src="{{#linkTo}}/webjars/jquery/3.3.1/jquery.js{{/linkTo}}"></script>
    <script defer src="{{#linkTo}}/js/typeahead.bundle.min.js{{/linkTo}}"></script>
    <script defer src="{{#linkTo}}/js/mousetrap.min.js{{/linkTo}}"></script>
    <script defer src="{{#linkTo}}/js/start.js{{/linkTo}}"></script>
</head>
<body>
<div class="container main">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/initializr-logo.png" alt="Spring Initializr">
                <h1 class="title is-capitalized">Spring Initializr</h1>
            </a>
        </div>
    </nav>
    <form id="form" action="/starter.zip" method="get" role="form">
        <section class="section project-choice">
            <div class="field is-grouped is-grouped-centered is-grouped-multiline">
                <label class="label is-large is-block-mobile" for="type">Generate a</label>
                <div class="select">
                    <select tabindex="1" id="type" name="type">
                        {{#types.content}}
                            <option data-action="{{action}}" value="{{id}}" {{#default}}
                                    selected{{/default}}>{{name}}</option>
                        {{/types.content}}
                    </select>
                </div>
                <label class="label is-large is-block-mobile" for="language">with</label>
                <div class="select">
                    <select tabindex="2" name="language" id="language">
                        {{#languages.content}}
                            <option value="{{id}}" {{#default}} selected{{/default}}>{{name}}</option>
                        {{/languages.content}}
                    </select>
                </div>
                <label class="label is-large" for="bootVersion">and Spring Boot</label>
                <div class="select">
                    <select tabindex="3" name="bootVersion" id="bootVersion">
                        {{#bootVersions.content}}
                            <option value="{{id}}" {{#default}} selected{{/default}}>{{name}}</option>
                        {{/bootVersions.content}}
                    </select>
                </div>
            </div>
        </section>
        <section class="section start-main">
            <input id="baseDir" name="baseDir" type="hidden" value="{{artifactId.content}}">
            <div class="tile is-ancestor">
                <div class="tile is-child is-vertical">
                    <h2 class="title">Project Metadata</h2>

                    <div class="field groupid-form-group">
                        <label for="groupId" class="label">{{groupId.title}}</label>
                        <div class="control">
                            <input tabindex="4" id="groupId" class="input" type="text" value="{{groupId.content}}"
                                   name="groupId">
                        </div>
                    </div>
                    <div class="field artifactid-form-group">
                        <label for="artifactId" class="label">{{artifactId.title}}</label>
                        <div class="control">
                            <input tabindex="5" id="artifactId" class="input" type="text" value="{{artifactId.content}}"
                                   name="artifactId">
                        </div>
                    </div>
                    <div class="field is-hidden name-form-group">
                        <label for="name" class="label">{{name.title}}</label>
                        <div class="control">
                            <input tabindex="6" id="name" class="input" type="text" value="{{name.content}}"
                                   name="name">
                        </div>
                    </div>
                    <div class="field full is-hidden description-form-group">
                        <label for="description" class="label">{{description.title}}</label>
                        <div class="control">
                            <input tabindex="7" id="description" class="input" type="text"
                                   value="{{description.content}}" name="description">
                        </div>
                    </div>
                    <div class="field full is-hidden packagename-form-group">
                        <label for="packageName" class="label">{{packageName.title}}</label>
                        <div class="control">
                            <input tabindex="8" id="packageName" class="input" type="text"
                                   value="{{packageName.content}}" name="packageName">
                        </div>
                    </div>
                    <div class="field full is-hidden packaging-form-group">
                        <label for="packaging" class="label">{{packagings.title}}</label>
                        <div class="control">
                            <div class="select">
                                <select tabindex="9" class="form-control" id="packaging" name="packaging">
                                    {{#packagings.content}}
                                        <option value="{{id}}"{{#default}} selected{{/default}}>{{name}}</option>
                                    {{/packagings.content}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field full is-hidden javaversion-form-group">
                        <label for="javaVersion" class="label">{{javaVersions.title}}</label>
                        <div class="control">
                            <div class="select">
                                <select tabindex="10" class="form-control" name="javaVersion" id="javaVersion">
                                    {{#javaVersions.content}}
                                        <option value="{{id}}"{{#default}} selected{{/default}}>{{name}}</option>
                                    {{/javaVersions.content}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-child is-vertical">
                    <h2 class="title">Dependencies</h2>

                    <div class="field">
                        <label for="autocomplete" class="label">Quick Search</label>
                        <div class="control">
                            <input tabindex="11" id="autocomplete" class="input" type="text"
                                   placeholder="Web, Security, JPA, Actuator, Devtools..."
                                   name="autocomplete">
                        </div>
                    </div>
                    <div class="field">
                        <label for="starters" class="control-label">Selected Dependencies</label>
                        <div id="starters">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <button tabindex="12" name="generate-project" type="submit" class="button is-large is-primary"
                            role="button">
                        Generate Project
                    </button>
                </p>
            </div>
            <div class="tofullversion">
                <p>Don't know what to look for? Want more options? <a href="#">Switch to the full version.</a></p>
            </div>
            <div class="tosimpleversion is-hidden">
                <p>Too many options? <a href="#">Switch back to the simple version.</a></p>
            </div>
        </section>
        <section class="section is-hidden sea-of-checkboxes">
            <div id="dependencies" class="full">
                    <div class="tabs is-medium">
                        <ul>
                        {{#categories}}
                            <li data-id="{{id}}"><a>{{name}}</a></li>
                        {{/categories}}
                        </ul>
                    </div>
                <div class="columns is-multiline">
                {{#dependencies.content}}
                    <div class="dependencygroup column is-half" {{#category}}data-category="{{.}}"{{/category}}>
                        <h4 class="title is-4">{{name}}</h4>
                        {{#content}}
                            <div class="dependency"
                                 data-range="{{#versionRange}}{{versionRange}}{{/versionRange}}">
                                <label class="checkbox">
                                    <input tabindex="13" type="checkbox" name="style" value="{{id}}"> {{name}}
                                    <p class="description">{{#description}}{{.}}{{/description}}</p>
                                    {{#versionRequirement}}
                                    <p class="help is-danger version-requirement">requires Spring Boot {{.}}</p>
                                    {{/versionRequirement}}
                                </label>
                            </div>
                        {{/content}}
                    </div>
                {{/dependencies.content}}
                </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <button tabindex="14" name="generate-project" type="submit" class="button is-large is-primary"
                            role="button">
                        Generate Project
                    </button>
                </p>
            </div>
        </section>
        <footer>
            <div class="container">
                <p>start.spring.io is powered by <a href="https://github.com/spring-io/initializr/">Spring Initializr</a>
                    and <a href="https://run.pivotal.io">Pivotal Web Services</a></p>
            </div>
        </footer>
    </form>
</div>
</body>
</html>
